<div class="detail-section">
    <div class="container-fluid">

        <hr>
        <hr>
        
        <h3>INSPIRATIONS</h3>

        <hr>
        <p style="color: #2e4494; font-size: 18px;">L’Atelier BAH est avant tout un univers que l’on souhaite partager
            avec vous. C’est un support à de belles rencontres et on a le plaisir de vous aider à aménager votre cadre
            de vie.</p>


        <div class="row">
            <div class="column">
                <img src="assets/images/inspirations/inspiration-1000.png" alt="insp" class="img-responsive">
                <hr>
                <img src="assets/images/inspirations/inspiration-1001.png" alt="insp" class="img-responsive">
                <hr>

            </div>
            <div class="column">
                <img src="assets/images/inspirations/inspiration-1002.png" alt="insp" class="img-responsive">
                <hr>
                <img src="assets/images/inspirations/inspiration-1003.png" alt="insp" class="img-responsive">
                <hr>
            </div>
            <div class="column">
                <img src="assets/images/inspirations/inspiration-1004.png" alt="insp" class="img-responsive">
                <hr>
                <img src="assets/images/inspirations/inspiration-1005.png" alt="insp" class="img-responsive">
                <hr>
            </div>
            
            <div class="column">
                <img src="assets/images/inspirations/inspiration-1006.png" alt="insp" class="img-responsive">
                <hr>
                <img src="assets/images/inspirations/inspiration-1007.png" alt="insp" class="img-responsive">
                <hr>
            </div>
        </div>

    </div>
</div>